   @{
    ViewData["Title"] = "About";
}      
   <!-- Breadcrumbs Start -->
            <div class="rs-breadcrumbs img2">
                <div class="breadcrumbs-inner text-center">
                    <h1 class="page-title">About Tactsoft  Ltd.</h1>
                    <ul>
                        <li title="Tactsoft  - IT Solutions and Technology Startup HTML Template">
                            <a class="active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       <li>About us</li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumbs End -->            

<!-- About Section Start -->
            <div id="rs-about" class="rs-about style1 pt-130 pb-190 md-pt-80 md-pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 md-mb-50">
                            <div class="rs-animation-shape">
                                <div class="pattern">
                               <img src="assets/images/about-part-1.png" alt=""> 
                                </div>
                                <div class="middle">
                             <img class="dance" src="~/assets/images/about-part-2.png" alt=""> 
                                </div>
                                <div class="bottom-shape">
                                <img class="dance2" src="~/assets/images/about-part-3.png" alt=""> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 pl-40 md-pl-15 md-pt-200 sm-pt-0">
                            <div class="sec-title mb-30">
                                <div class="sub-text">About Us</div>
                                <h2 class="title pb-20">
                                    We Are Increasing Business Success With Technology
                                </h2>
                                <div class="desc pr-90 md-pr-0">
                                   We provide custom development solutions across Software Development, eCommerce solutions, Mobile Phone Application Development, Responsive Web Design and Web App Development Services.. 
								   Our core strength lies in the development of Web & Mobile applications using emerging technologies, which include Angular, Node, .Net core,  Native Android, iOS and AWS. By strategically leveraging this technology stack, our application modernisation services have helped organizations 
								   upgrade entire legacy application portfolios to modern platforms that deliver rich functionality and flexibility while mitigating project and operational risks
                                <p><br><hr />We provide services in software conceptualization & design, software product development, software product re-engineering, software maintenance & support and software test
								<br><hr />
								 we are hopeful of assisting you very well.</p>
								</div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Section End -->