         <!-- Footer Start -->
         <footer id="rs-footer" class="rs-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="index.html"><img src="~/assets/images/tactsoftlogo.png" alt=""></a>
                            </div>
                              <div class="textwidget pb-30"><p>We provide services in software conceptualization & design, software product development, software product re-engineering, software maintenance & support and software test </p>
                              </div>
                              <ul class="footer-social md-mb-30">  
                                  <li> 
                                      <a href="https://www.facebook.com/tactsoftltd" target="_blank"><span><i class="fa fa-facebook"></i></span></a> 
                                  </li>
                                  <li> 
                                      <a href="https://www.linkedin.com/company/tactsoftltd/" target="_blank"><span><i class="fa fa-linkedin"></i></span></a> 
                                  </li>
                                   <li> 
                                      <a href="# " target="_blank"><span><i class="fa fa-twitter"></i></span></a> 
                                  </li>
                                  <li> 
                                      <a href="# " target="_blank"><span><i class="fa fa-pinterest-p"></i></span></a> 
                                  </li>
                                  <li> 
                                      <a href="# " target="_blank"><span><i class="fa fa-instagram"></i></span></a> 
                                  </li>
                                                                           
                              </ul>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 pl-45 md-pl-15 md-mb-30">
                            <h3 class="widget-title">IT Services</h3>
                                 <ul class="site-map">
                                <li><a asp-controller="Service" asp-action="SoftwareDevlopment">Software Development</a></li>
                                <li><a asp-controller="Service" asp-action="WebDevlopment">Web Development</a></li>
                                <li><a asp-controller="Service" asp-action="EcommersSiteDevlopment">E-commerce Site Development</a></li>
                                <li><a asp-controller="Service" asp-action="AppDevlopment">Mobile Apps Development</a></li>
                                <li><a href="#">Recruitment services</a></li>
                                  
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 md-mb-30">
                            <h3 class="widget-title">Contact Info</h3>
                            <ul class="address-widget">
                                <li>
                                    <i class="flaticon-location"></i>
                                    <div class="desc"><b>Bangladesh Office:</b>2/3 B#-A, Lalmatia, Dhaka<br /><b>Singapore Office:</b>27 Foch Road,Hoa Nam Building
Lavel# 02-02 Singapore -209264</div>
                                </li>
                                <li>
                                    <i class="flaticon-call"></i>
                                    <div class="desc">
                                       <a href="tel:(+880)155-69569">+8801779016878</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="flaticon-email"></i>
                                    <div class="desc">
                                        <a href="mailto:support@tactsoftltd.com">support@tactsoftltd.com</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="flaticon-clock-1"></i>
                                    <div class="desc">
                                        Opening Hours: 10:00 - 18:00   
                                    </div>
                                </li>
                            </ul>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">                    
                    <div class="row y-middle">
                        <div class="col-lg-6 text-right md-mb-10 order-last">
                             <ul class="copy-right-menu">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="About" asp-action="Index">About</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a asp-controller="Product" asp-action="Index">Product</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>&copy; 2023 All Rights Reserved. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->
                <!-- start scrollUp  -->
        <div id="scrollUp" class="orange-color">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- End scrollUp  -->
                <!-- Search Modal Start -->
        <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="flaticon-cross"></span>
            </button>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="search-block clearfix">
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Search Here..." type="text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Modal End -->
