<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TactSoft_Software</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
            <!-- meta tag -->
        <meta charset="utf-8">
              <title>Tactsoft  Ltd. - IT Solutions, Training, Recruitment Service </title>
        <meta name="description" content="">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="apple-touch-icon" href="~/apple-touch-icon.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/tact-fab.png">
        <!-- Bootstrap v4.4.1 css -->
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <!-- font-awesome css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
        <!-- flaticon css -->
        <link rel="stylesheet" type="text/css" href="~/assets/fonts/flaticon.css">
        <!-- animate css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
        <!-- owl.carousel css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.css">
        <!-- slick css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
        <!-- off canvas css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/off-canvas.css">
        <!-- magnific popup css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">
        <!-- Main Menu css -->
        <link rel="stylesheet" href="~/assets/css/rsmenu-main.css">
        <!-- spacing css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/rs-spacing.css">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="~/style.css"> <!-- This stylesheet dynamically changed from style.less -->
         <!-- bootstrap5 css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	    <!-- google icons link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- My Custom css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/style1.css">
        <!-- responsive css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
</head>
<body>
@*    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TactSoft___Software</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TactSoft___Software - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <partial name="_Navber" />
          @RenderBody()
     <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
             <!-- modernizr js -->
        <script src="~/assets/js/modernizr-2.8.3.min.js"></script>
        <!-- jquery latest version -->
        <script src="~/assets/js/jquery.min.js"></script>
        <!-- Bootstrap v4.4.1 js -->
        <script src="~/assets/js/bootstrap.min.js"></script>
        <!-- Menu js -->
        <script src="~/assets/js/rsmenu-main.js"></script> 
        <!-- op nav js -->
        <script src="~/assets/js/jquery.nav.js"></script>
        <!-- owl.carousel js -->
        <script src="~/assets/js/owl.carousel.min.js"></script>
        <!-- wow js -->
        <script src="~/assets/js/wow.min.js"></script>
        <!-- Skill bar js -->
        <script src="~/assets/js/skill.bars.jquery.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script> 
         <!-- counter top js -->
        <script src="~/assets/js/waypoints.min.js"></script>
        <!-- swiper js -->
        <script src="~/assets/js/swiper.min.js"></script>   
        <!-- particles js -->
        <script src="~/assets/js/particles.min.js"></script>  
        <!-- magnific popup js -->
        <script src="~/assets/js/jquery.magnific-popup.min.js"></script>      
        <!-- plugins js -->
        <script src="~/assets/js/plugins.js"></script>
        <!-- pointer js -->
        <script src="~/assets/js/pointer.js"></script>
        <!-- contact form js -->
        <script src="~/assets/js/contact.form.js"></script>
        <!-- main js -->
        <script src="~/assets/js/main.js"></script>

   
       <!-- bootstrap5 js -->
     @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
