        <!--Preloader area start here-->
        <div id="loader" class="loader">
            <div class="loader-container"></div>
        </div>
        <!--Preloader area End here--> 
        		<!-- Main content Start -->
        <div class="main-content">
            <!--Full width header Start-->
            <div class="full-width-header">
                <!--Header Start-->
                <header id="rs-header" class="rs-header">
                    <!-- Topbar Area Start -->
                    <div class="topbar-area">
                        <div class="container">
                            <div class="row rs-vertical-middle">
                                <div class="col-lg-2">
                                    <div class="logo-part">
                                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/tect-soft.jpeg" alt=""></a>
                                    </div>
                                </div>
                          <div class="col-lg-10 text-right">
                                    <ul class="rs-contact-info">
                                        <li class="contact-part">
                                            <i class="flaticon-location"></i>
                                            <span class="contact-info">
                                                <span>Address</span>
                                             2/3 Block-A, Lalmatia, Dhaka
                                            </span>
                                        </li>
                                        <li class="contact-part">
                                            <i class="flaticon-email"></i>
                                            <span class="contact-info">
                                                <span>E-mail</span>
                                                <a href="#"> info@tactsoftltd.com</a>
                                            </span>
                                             
                                        </li>
                                        <li class="contact-part no-border">
                                             <i class="flaticon-call"></i>
                                            <span class="contact-info">
                                                <span >Phone</span>
                                                 +8801779016878
                                                <br />

                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Topbar Area End -->

                    <!-- Menu Start -->
                    <div class="menu-area menu-sticky">
                        <div class="container">
                            <div class="logo-area">
                                <a asp-controller="Home" asp-action="Index">
                                    <img class="sticky-logo" src="~/assets/images/tect-soft.jpeg" alt="logo">
                                </a>
                            </div>
                            <div class="rs-menu-area">
                                <div class="main-menu">
                                    <div class="mobile-menu">
                                        <a asp-controller="Home" asp-action="Index" class="mobile-logo">
                                            <img src="~/assets/images/tect-soft.jpeg" alt="logo">
                                        </a>
                                        <a href="#" class="rs-menu-toggle rs-menu-toggle-close">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </div>
                              <nav class="rs-menu">
                                        <ul class="nav-menu">
                                            <li class="current-menu-item">
                                                <a asp-controller="Home" asp-action="Index">Home</a>
                                         
                                            </li>
                                            <li>
                                      <a asp-controller="About" asp-action="Index">About</a>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Services</a>
                                                 <ul class="sub-menu">
                                                    <li><a asp-controller="Service" asp-action="SoftwareDevlopment" >Software Development</a> </li>
                                                    <li><a asp-controller="Service" asp-action="WebDevlopment">Web Development</a> </li>
                                                    <li><a asp-controller="Service" asp-action="EcommersSiteDevlopment">E-Commerce Site Development</a> </li>
                                                    <li><a asp-controller="Service" asp-action="AppDevlopment">Apps Development</a></li>
                                                    <li><a asp-controller="Service" asp-action="UIorUXDesign">UX/UI Design</a> </li>
                                                   
                                                </ul>
                                            </li>
                                           
                                            <li>
                                               <a asp-controller="Product" asp-action="Index">Products</a>
                                               
                                            </li>
                                               <li >
                                               <a asp-controller="Portfolio" asp-action="Index">Portfolio</a>
                                               
                                            </li>
                                            <li>
                                                <a asp-controller="Contact" asp-action="Index">Contact</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Career" asp-action="Index">Career</a>
                                            </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                        </ul> <!-- //.nav-menu -->
                                    </nav>                                       
                                </div> <!-- //.main-menu -->                                
                            </div>
                            <div class="expand-btn-inner search-icon hidden-sticky hidden-md">
                                <ul>
                                    <li class="sidebarmenu-search">
                                        <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#">
                                            <i class="flaticon-search"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="toolbar-sl-share">
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/tactsoftltd" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                         <li><a href="https://www.linkedin.com/company/tactsoftltd/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Menu End -->
                </header>
                <!--Header End-->
            </div>
            <!--Full width header End-->