@{
    ViewData["Title"] = "Home";
}

            <!-- Banner Section Start -->
            <div class="rs-banner main-home pt-100 pb-100  md-pt-80 md-pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 pr-140 md-mb-140 md-pr-15">
                            <div class="content-wrap">
                                <h1 class="it-title">IT Consulting Services For Your Business</h1>
                                <div class="description">
                                    <p class="desc">
                                        We are leading technology solutions providing company all over the world.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                 
                    </div>
                </div>
            </div>
            <!-- Banner Section End -->

            <!-- Service Section Start -->
            	<div class="service-section">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="photo">
                    <img src="~/assets/images/services/service-1.png" alt="Strategy & Discovery">
					</div>
					<div class="card-body">
						<a href="#">Strategy & Discovery</a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Tempore soluta neque at praesentium laudantium nemo distinctio unde ea dolorum mollitia.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="photo">
                    <img src="~/assets/images/services/service-2.png" alt="Software Solutio">
					</div>
					<div class="card-body">
						<a href="#">Software Solution</a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Tempore soluta neque at praesentium laudantium nemo distinctio unde ea dolorum mollitia.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="photo">
                    <img src="~/assets/images/services/service-3.png" alt="Technology Solution">
					</div>
					<div class="card-body">
						<a href="#">Technology Solution</a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Tempore soluta neque at praesentium laudantium nemo distinctio unde ea dolorum mollitia.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="photo">
                    <img src="~/assets/images/services/service-4.png" alt="Business Analytics">
					</div>
					<div class="card-body">
						<a href="#">Business Analytics</a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Tempore soluta neque at praesentium laudantium nemo distinctio unde ea dolorum mollitia.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

            <!-- Service Section End -->


            <!-- About Section Start -->
            <div id="rs-about" class="rs-about style1 pt-130 pb-190 md-pt-80 md-pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 md-mb-50">
                            <div class="rs-animation-shape">
                                <div class="pattern">
                               <img src="~/assets/images/about-part-1.png" alt=""> 
                                </div>
                                <div class="middle">
                             <img class="dance" src="~/assets/images/about-part-2.png" alt=""> 
                                </div>
                                <div class="bottom-shape">
                                <img class="dance2" src="~/assets/images/about-part-3.png" alt=""> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 pl-40 md-pl-15 md-pt-200 sm-pt-0">
                            <div class="sec-title mb-30">
                                <div class="sub-text">About Us</div>
                                <h2 class="title pb-20">
                                    We Are Increasing Business Success With Technology
                                </h2>
                                <div class="desc pr-90 md-pr-0">
                                   We provide custom development solutions across Software Development, eCommerce solutions, Mobile Phone Application Development, Responsive Web Design and Web App Development Services.. 
								   Our core strength lies in the development of Web & Mobile applications using emerging technologies, which include Angular, Node, .Net core,  Native Android, iOS and AWS. By strategically leveraging this technology stack, our application modernisation services have helped organizations 
								   upgrade entire legacy application portfolios to modern platforms that deliver rich functionality and flexibility while mitigating project and operational risks
                                <p><br><hr />We provide services in software conceptualization & design, software product development, software product re-engineering, software maintenance & support and software test
								<br><hr />
								 we are hopeful of assisting you very well.</p>
								</div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Section End -->

            <!-- We Run IT Service Start -->
            <div class="it-service">
                <div class="row">
                    <div class="col-md-5">
                        <div class="photo">
                            <div class="first-photo"></div>
                            <div class="second-photo"></div>
                        </div>
                    </div>
                    <div class="col-md-7 px-3">
                        <h2>We run all kinds of IT services that vow your success</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tempora iste eligendi quia quibusdam officiis veritatis repudiandae laborum mollitia! Sequi impedit corporis, iure quaerat quo id voluptates, eaque ipsam assumenda.</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card it-team">
                                    <div class="card-body">
                                        <h4 class="text-center">Professional IT Team</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card expert">
                                    <div class="card-body">
                                        <h4 class="text-center">Quality check Expert</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-center">24/7 dedicated Support</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- We Run IT Service End -->
<!-- Process Section Start -->
<div class="process-section">
    <div class="row">
        <div class="col-md-5">
            <div class="photo">
                <div class="first-photo"></div>
                <div class="second-photo"></div>
            </div>
        </div>
         <div class="col-md-7 px-3">
             <h2>Our Working Process- How We Works For Our Customers </h2>
             <div class="row mt-5">
		<div class="col-md-6">
                    <div class="d-flex">
                        <div class="process-icon">
                            <img src="~/assets/images/working-process/i-1.png" alt="">
                        </div>
                        <div>
                            <h4>Discovery</h4>
                            <p>This process is to get to know the end-user, clarify project vision, goals & scope, and identify risks.</p>
                        </div>
                    </div>
		</div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="process-icon">
                            <img src="~/assets/images/working-process/i-1.png" alt="">
                        </div>
                        <div>
                            <h4>Planning</h4>
                            <p>Determine project goals and establish a high-level plan for the intended project.</p>
                        </div>
                    </div>
                </div>
		<div class="col-md-6">
                    <div class="d-flex">
                        <div class="process-icon">
                            <img src="~/assets/images/working-process/i-1.png" alt="">
                        </div>
                        <div>
                            <h4>Executive</h4>
                            <p>The project team develops the product or service and persents the final product to the customer.</p>
                        </div>
                    </div>
		</div>
		<div class="col-md-6">
                    <div class="d-flex">
                        <div class="process-icon">
                            <img src="~/assets/images/working-process/i-1.png" alt="">
                        </div>
                        <div>
                               <h4>Deliver</h4>
            <p>Here the team completes the task identified in the previous 3 phases & develops project deliverables.</p>
                        </div>
                    </div>
		</div>
	</div>
         </div>
    </div>
</div>
<!-- Process Section End -->


            <!-- Services Section Start -->
            <div class="rs-services main-home gray-color pt-120 pb-120 md-pt-70 md-pb-70">
                <div class="container">
                    <div class="sec-title2 text-center mb-45">
                        <span class="sub-text">Services</span>
                        <h2 class="title">
                           We Are Offering All Kinds of IT Solutions Services
                        </h2>
                        <div class="heading-line"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-25">
                           <div class="services-item">
                               <div class="services-icon">
                                   <div class="image-part">
                                       <img src="~/assets/images/services/1.png" alt=""> 
                                   </div>
                               </div>
                               <div class="services-content">
                                   <div class="services-text">
                                       <h3 class="services-title"><a href="softwaredevelopment.aspx">Software Development</a></h3>
                                   </div>
                                   <div class="services-desc">
                                       <p>
The development of reliable and scalable software solutions for any OS, browser and device.
                                       </p>
                                   </div>
                               </div>
                           </div> 
                        </div>
                        <div class="col-lg-4 col-md-6 mb-25">
                           <div class="services-item">
                               <div class="services-icon">
                                   <div class="image-part">
                                  <img src="~/assets/images/services/2.png" alt=""> 
                                   </div>
                               </div>
                               <div class="services-content">
                                   <div class="services-text">
                                       <h3 class="services-title"><a href="webdevelopment.aspx">Web Development</a></h3>
                                   </div>
                                   <div class="services-desc">
                                       <p>
                                          Tactsoft  is a prodigious web application development company, build powerful and scalable web apps 
                                       </p>
                                   </div>
                               </div>
                           </div> 
                        </div>
                        <div class="col-lg-4 col-md-6 mb-25">
                           <div class="services-item">
                               <div class="services-icon">
                                   <div class="image-part">
                                <img src="~/assets/images/services/3.png" alt=""> 
                                   </div>
                               </div>
                               <div class="services-content">
                                   <div class="services-text">
                                       <h3 class="services-title"><a href="ecommercedevelopment.aspx">E-commerce Site Development</a></h3>
                                   </div>
                                   <div class="services-desc">
                                       <p>
                                           E Commerce is one good way to keeping customers associated to your business and generate humungous amount of profit
                                       </p>
                                   </div>
                               </div>
                           </div> 
                        </div>
                        <div class="col-lg-4 col-md-6 md-mb-25">
                           <div class="services-item">
                               <div class="services-icon">
                                   <div class="image-part">
                                  <img src="~/assets/images/services/4.png" alt="">
                                   </div>
                               </div>
                               <div class="services-content">
                                   <div class="services-text">
                                       <h3 class="services-title"><a href="appsdevelopment.aspx">Apps Develoment</a></h3>
                                   </div>
                                   <div class="services-desc">
                                       <p>
                                       Easy-to-use & Feature-Rich  Apps For Your Business Take Your Business to the Next Level With Our Mobile App Development Solutions
                                       </p>
                                   </div>
                               </div>
                           </div> 
                        </div>
                        <div class="col-lg-4 col-md-6 sm-mb-25">
                           <div class="services-item">
                               <div class="services-icon">
                                   <div class="image-part">
                                 <img src="~/assets/images/services/5.png" alt=""> 
                                   </div>
                               </div>
                               <div class="services-content">
                                   <div class="services-text">
                                       <h3 class="services-title"><a href="uiuxdesign.aspx">UX/UI Design</a></h3>
                                   </div>
                                   <div class="services-desc">
                                       <p class="mb-4">
                                          Our UI/UX design and development services are focused on creating interfaces that make every digital interaction a  user experience.
                                       </p>
                                   </div>
                               </div>
                           </div> 
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="services-item">
                               <div class="services-icon">
                                   <div class="image-part">
                                   <img src="~/assets/images/services/6.png" alt=""> 
                                   </div>
                               </div>
                               <div class="services-content">
                                   <div class="services-text">
                                       <h3 class="services-title"><a href="#">IT Consulting</a></h3>
                                   </div>
                                   <div class="services-desc">
                                       <p class="mb-4">
                                          Our IT consulting can help your organization perform exceptionally highly and let you deal with day-to-day business operations.
                                       </p>
                                   </div>
                               </div>
                           </div> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- Services Section End -->

                        <!-- Web Package Price Start -->
           @* <div class="webPackage">
		<div class="col-md-12">
			<div class="row">
				<div class="title">
					<h1 class="text-center">We have perfect web hosting package for you.</h1>
					<p class="text-center">We provide SSD Hosting with Top security and 99.99% up-time. We are top Domain Hosting provider in Bangladesh.</p>
					<div class="row">
						<h2 class="text-center mt-3">Windows Operators</h2>
						<div class="underLine">
							<div class="line"></div>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<li class="list-group-item text-uppercase text-center" id="plan">Plan 1</li>
								<li class="list-group-item text-center" id="amount">
									<h1 class="text-uppercase d-inline">Tk. 1500</h1>
									<span class="d-inline">/Year</span>
								</li>
								<li class="list-group-item">2 GB SSD Storage</li>
								<li class="list-group-item">100 GB Data Transfer Monthly</li>
								<li class="list-group-item">LiteSpeed Web Server </li>
								<li class="list-group-item">1 Addon Domain</li>
								<li class="list-group-item" id="cPanel">cPanel Control Panel</li>
								<li class="list-group-item" id="ssl">FREE SSL Life Time</li>
								<li class="list-group-item">FREE Weekly Backup</li>
								<li class="list-group-item">Unlimited Sub Domains</li>
								<li class="list-group-item">Unlimited Email Accounts</li>
								<li class="list-group-item">Unlimited Databases</li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<li class="list-group-item text-uppercase text-center" id="plan">Plan 2</li>
								<li class="list-group-item text-center" id="amount">
									<h1 class="text-uppercase d-inline">Tk. 2000</h1>
									<span class="d-inline">/Year</span>
								</li>
								<li class="list-group-item">3 GB SSD Storage</li>
								<li class="list-group-item">150 GB Data Transfer Monthly</li>
								<li class="list-group-item">LiteSpeed Web Server</li>
								<li class="list-group-item">2 Addon Domain</li>
								<li class="list-group-item" id="cPanel">cPanel Control Panel</li>
								<li class="list-group-item" id="ssl">FREE SSL Life Time</li>
								<li class="list-group-item">FREE Weekly Backup</li>
								<li class="list-group-item">Unlimited Sub Domains</li>
								<li class="list-group-item">Unlimited Email Accounts</li>
								<li class="list-group-item">Unlimited Databases</li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<li class="list-group-item text-uppercase text-center" id="plan">Plan 3</li>
								<li class="list-group-item text-center" id="amount">
									<h1 class="text-uppercase d-inline">Tk. 2500</h1>
									<span class="d-inline">/Year</span>
								</li>
								<li class="list-group-item">4 GB SSD Storage</li>
								<li class="list-group-item">200 GB Data Transfer Monthly</li>
								<li class="list-group-item">LiteSpeed Web Server</li>
								<li class="list-group-item">3 Addon Domain</li>
								<li class="list-group-item" id="cPanel">cPanel Control Panel</li>
								<li class="list-group-item" id="ssl">FREE SSL Life Time</li>
								<li class="list-group-item">FREE Weekly Backup</li>
								<li class="list-group-item">Unlimited Sub Domains</li>
								<li class="list-group-item">Unlimited Email Accounts</li>
								<li class="list-group-item">Unlimited Databases</li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<li class="list-group-item text-uppercase text-center" id="plan">Plan 4</li>
								<li class="list-group-item text-center" id="amount">
									<h1 class="text-uppercase d-inline">Tk. 3000</h1>
									<span class="d-inline">/Year</span>
								</li>
								<li class="list-group-item">5 GB SSD Storage</li>
								<li class="list-group-item">250 GB Data Transfer Monthly</li>
								<li class="list-group-item">LiteSpeed Web Server</li>
								<li class="list-group-item">4 Addon Domain</li>
								<li class="list-group-item" id="cPanel">cPanel Control Panel</li>
								<li class="list-group-item" id="ssl">FREE SSL Life Time</li>
								<li class="list-group-item">FREE Weekly Backup</li>
								<li class="list-group-item">Unlimited Sub Domains</li>
								<li class="list-group-item">Unlimited Email Accounts</li>
								<li class="list-group-item">Unlimited Databases</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<h2 class="text-center mt-5 pt-3">Linux Operators</h2>
						<div class="underLine">
							<div class="line"></div>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<li class="list-group-item text-uppercase text-center" id="plan">Plan 1</li>
								<li class="list-group-item text-center" id="amount">
									<h1 class="text-uppercase d-inline">Tk. 1500</h1>
									<span class="d-inline">/Year</span>
								</li>
								<li class="list-group-item">2 GB SSD Storage</li>
								<li class="list-group-item">100 GB Data Transfer Monthly</li>
								<li class="list-group-item">LiteSpeed Web Server </li>
								<li class="list-group-item">1 Addon Domain</li>
								<li class="list-group-item" id="cPanel">cPanel Control Panel</li>
								<li class="list-group-item" id="ssl">FREE SSL Life Time</li>
								<li class="list-group-item">FREE Weekly Backup</li>
								<li class="list-group-item">Unlimited Sub Domains</li>
								<li class="list-group-item">Unlimited Email Accounts</li>
								<li class="list-group-item">Unlimited Databases</li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<li class="list-group-item text-uppercase text-center" id="plan">Plan 2</li>
								<li class="list-group-item text-center" id="amount">
									<h1 class="text-uppercase d-inline">Tk. 2000</h1>
									<span class="d-inline">/Year</span>
								</li>
								<li class="list-group-item">3 GB SSD Storage</li>
								<li class="list-group-item">150 GB Data Transfer Monthly</li>
								<li class="list-group-item">LiteSpeed Web Server</li>
								<li class="list-group-item">2 Addon Domain</li>
								<li class="list-group-item" id="cPanel">cPanel Control Panel</li>
								<li class="list-group-item" id="ssl">FREE SSL Life Time</li>
								<li class="list-group-item">FREE Weekly Backup</li>
								<li class="list-group-item">Unlimited Sub Domains</li>
								<li class="list-group-item">Unlimited Email Accounts</li>
								<li class="list-group-item">Unlimited Databases</li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<li class="list-group-item text-uppercase text-center" id="plan">Plan 3</li>
								<li class="list-group-item text-center" id="amount">
									<h1 class="text-uppercase d-inline">Tk. 2500</h1>
									<span class="d-inline">/Year</span>
								</li>
								<li class="list-group-item">4 GB SSD Storage</li>
								<li class="list-group-item">200 GB Data Transfer Monthly</li>
								<li class="list-group-item">LiteSpeed Web Server</li>
								<li class="list-group-item">3 Addon Domain</li>
								<li class="list-group-item" id="cPanel">cPanel Control Panel</li>
								<li class="list-group-item" id="ssl">FREE SSL Life Time</li>
								<li class="list-group-item">FREE Weekly Backup</li>
								<li class="list-group-item">Unlimited Sub Domains</li>
								<li class="list-group-item">Unlimited Email Accounts</li>
								<li class="list-group-item">Unlimited Databases</li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<li class="list-group-item text-uppercase text-center" id="plan">Plan 4</li>
								<li class="list-group-item text-center" id="amount">
									<h1 class="text-uppercase d-inline">Tk. 3000</h1>
									<span class="d-inline">/Year</span>
								</li>
								<li class="list-group-item">5 GB SSD Storage</li>
								<li class="list-group-item">250 GB Data Transfer Monthly</li>
								<li class="list-group-item">LiteSpeed Web Server</li>
								<li class="list-group-item">4 Addon Domain</li>
								<li class="list-group-item" id="cPanel">cPanel Control Panel</li>
								<li class="list-group-item" id="ssl">FREE SSL Life Time</li>
								<li class="list-group-item">FREE Weekly Backup</li>
								<li class="list-group-item">Unlimited Sub Domains</li>
								<li class="list-group-item">Unlimited Email Accounts</li>
								<li class="list-group-item">Unlimited Databases</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>*@
            <!-- Web Package Price End -->

                       
                        <!-- Project Section Start -->
            <div >
                <div class="container">
                   <div class="sec-title2 text-center mb-45 md-mb-30">
                      <h3 class="services-title">Technology Expertise</h3>    
                       
                       <div  style="text-align:justify"><p>Our technology expertise includes React.js, .NET, PHP and Webix, along with other comprehensive technologies. Combining them, we offer custom software development solutions of any scale, complexity and type.</p>
<p>Tactsoft   is an outsourcing software development company that renders top-notch and cost-effective services in web app development, business analysis and quality assurance. We can ensure that the whole process meets the designated code quality and standards.</p>
</div>
                   </div>
          
                 <div class="footer-top">
                <div class="container">
                    <div class="row">
                         <div class="col-lg-4 col-md-12 col-sm-12 pl-45 md-pl-15 md-mb-30">
                            <h5 class="widget-title">Programming Languages</h5>
                            <ul class="listing-style">
                                <li><i class="fa fa-check-circle"></i><span>C#.NET</span></li>
                                <li><i class="fa fa-check-circle"></i><span>PHP</span></li>
                                <li><i class="fa fa-check-circle"></i><span>Javascript</span></li>
                                <li><i class="fa fa-check-circle"></i><span>Java</span></li>
                                <li><i class="fa fa-check-circle"></i><span>Python</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 pl-45 md-pl-15 md-mb-30">
                            <h5 class="widget-title">Key Web Technologies and Frameworks</h5>
                            <ul  class="listing-style">
                                <li><i class="fa fa-check-circle"></i>
                                      <span>.NET Backend</span></li>
                                <li><i class="fa fa-check-circle"></i> <span>Angular</span></li>
                                <li><i class="fa fa-check-circle"></i> <span>Node.Js</span></li>
                                <li><i class="fa fa-check-circle"></i> <span>Reackt.Js</span></li>
                                <li><i class="fa fa-check-circle"></i> <span>PHP/Laravel Backend</span></li>
                            </ul>                      
                        </div>
                
                       <div class="col-lg-4 col-md-12 col-sm-12 pl-45 md-pl-15 md-mb-30">
                            <h5 class="widget-title">Key Mobile Technologies and Frameworks</h5>
                            <ul class="listing-style">
                                <li><i class="fa fa-check-circle"></i> <span>Android</span></li>
                                <li><i class="fa fa-check-circle"></i> <span>IOS</span></li>
                                <li><i class="fa fa-check-circle"></i> <span>Windows Phone</span></li>
                                
                            </ul>
                        </div>                                 
                </div>
            </div>
          
                </div>
            </div>
            <!-- Project Section End -->

        </div> 
        <!-- Main content End -->
