 @{
    ViewData["Title"] = "Portfolio";
}              
            <!-- Breadcrumbs Start -->
      <div class="rs-breadcrumbs img3">
                <div class="breadcrumbs-inner text-center">
                    <h1 class="page-title">Portfolio</h1>
                    <ul>
                        <li title="Tactsoft - IT Solutions and Technology Startup HTML Template">
                            <a class="active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li title="Go To Services">
                            <a class="active" href="index.html">Services</a>
                        </li>
                        <li>Web Development</li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumbs End -->

            <!-- Our Work Section Start -->
           <div class="our-work">
		<div class="row text-center">
			<h2>Our Work</h2>
            <div class="underline"></div>
		</div>
		<!-- ============Portfolio Section Start============ -->
		<div class="content">
			<div class="col-md-12">
                <div class="row">
					<div class="col-md-5">
						<div class="key">
							<h1>I</h1>
						</div>
						<div class="short-details">
							<p>Beautiful Health Responsive Theme</p>
							<h3>IXCEED HEALTH</h3>
						</div>
						<div class="dev-tools py-4">
							<a href="#WordPress">WordPress</a>
						</div>
						<div class="view-btn">
							<a href="https://www.ixceedhealths.co.uk/" target="_blank">
								View Project
								<i class="fa fa-long-arrow-right px-2"></i>
							</a>
						</div>
					</div>
					<div class="col-md-7">
						<div class="project-photo">
							<img src="~/assets/images/ixceed-health1.PNG" alt="">
						</div>
					</div>
				</div>
                <hr>
				<div class="row">
					<div class="col-md-5">
						<div class="key">
							<h1>H</h1>
						</div>
						<div class="short-details">
							<p>Ecommerce Template Design</p>
							<h3>House 0f Zayanci</h3>
						</div>
						<div class="dev-tools py-4">
							<a href="#WordPress">WordPress</a>
						</div>
						<div class="view-btn">
							<a href="https://houseofzayanci.com/" target="_blank">
								View Project
								<i class="fa fa-long-arrow-right px-2"></i>
							</a>
						</div>
					</div>
					<div class="col-md-7">
						<div class="project-photo">
							<img src="~/assets/images/house-of-zayanci1.PNG" alt="">
						</div>
					</div>
				</div>
				<hr>
                <div class="row">
					<div class="col-md-5">
						<div class="key">
							<h1>F</h1>
						</div>
						<div class="short-details">
							<p>Ecommerce Template Design</p>
							<h3>FIRST WASTE OPTIONS</h3>
						</div>
						<div class="dev-tools py-4">
							<a href="#WordPress">WordPress</a>
						</div>
						<div class="view-btn">
							<a href="https://firstwasteoptions.ie/" target="_blank">
								View Project
								<i class="fa fa-long-arrow-right px-2"></i>
							</a>
						</div>
					</div>
					<div class="col-md-7">
						<div class="project-photo">
							<img src="~/assets/images/first-waste1.PNG" alt="">
						</div>
					</div>
				</div>
                <hr>
                <div class="row">
					<div class="col-md-5">
						<div class="key">
							<h1>A</h1>
						</div>
						<div class="short-details">
							<p>Ecommerce Template Design</p>
							<h3>ARITANK</h3>
						</div>
						<div class="dev-tools py-4">
							<a href="#WordPress">WordPress</a>
						</div>
						<div class="view-btn">
							<a href="https://aritank.com/" target="_blank">
								View Project
								<i class="fa fa-long-arrow-right px-2"></i>
							</a>
						</div>
					</div>
					<div class="col-md-7">
						<div class="project-photo">
							<img src="~/assets/images/aritank1.PNG" alt="">
						</div>
					</div>
				</div>
                  <hr>
                <div class="row">
					<div class="col-md-5">
						<div class="key">
							<h1>N</h1>
						</div>
						<div class="short-details">
							<p>Beautiful Template Design</p>
							<h3>NOTH JOINERY</h3>
						</div>
						<div class="dev-tools py-4">
							<a href="#WordPress">WordPress</a>
						</div>
						<div class="view-btn">
							<a href="http://www.nothjoinery.co.uk/" target="_blank">
								View Project
								<i class="fa fa-long-arrow-right px-2"></i>
							</a>
						</div>
					</div>
					<div class="col-md-7">
						<div class="project-photo">
							<img src="~/assets/images/noth-joinery1.PNG" alt="">
						</div>
					</div>
				</div>
                  <hr>
                <div class="row">
					<div class="col-md-5">
						<div class="key">
							<h1>M</h1>
						</div>
						<div class="short-details">
							<p>Beautiful Template Design</p>
							<h3>MVT MUSSELBURGH</h3>
						</div>
						<div class="dev-tools py-4">
							<a href="#WordPress">WordPress</a>
						</div>
						<div class="view-btn">
							<a href="http://mvt-musselburgh.co.uk/" target="_blank">
								View Project
								<i class="fa fa-long-arrow-right px-2"></i>
							</a>
						</div>
					</div>
					<div class="col-md-7">
						<div class="project-photo">
							<img src="~/assets/images/mvt1.PNG" alt="">
						</div>
					</div>
				</div>
                <hr>
                 <div class="row">
					<div class="col-md-5">
						<div class="key">
							<h1>M</h1>
						</div>
						<div class="short-details">
							<p>ASP.NET</p>
							<h3>MRC OVERSEAS</h3>
						</div>
						<div class="dev-tools py-4">
							<a href="#dotNET">ASP.NET</a>
						</div>
						<div class="view-btn">
							<a href="#" target="_blank">
								View Project
								<i class="fa fa-long-arrow-right px-2"></i>
							</a>
						</div>
					</div>
					<div class="col-md-7">
						<div class="project-photo">
							<img src="~/assets/images/mrc-overseas.PNG" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ============Portfolio Section End============ -->

		<!-- ============Get in Touch Section Start============ -->
		<div class="get-in-touch">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8  py-5 px-4 bg-white shadow-sm">
						<form class="row g-3">
							<h4>Get in Touch</h4>
							<div class="col-md-6">
								<label for="name" class="form-label">Full Name*</label>
								<input type="text" class="form-control" id="name">
							</div>
							<div class="col-md-6">
								<label for="email" class="form-label">Email*</label>
								<input type="email" class="form-control" id="email">
							</div>
							<div class="col-md-6">
								<label for="budget" class="form-label">Budget*</label>
								<select id="budget" class="form-select">
									<option selected>Less than $5,000</option>
									<option>$5,000-$10,000</option>
									<option>$10,000-$15,000</option>
									<option>$15,000-$20,000</option>
								</select>
							</div>
							<div class="col-md-6">
								<label for="phone" class="form-label">Phone Number*</label>
								<input type="number" class="form-control" id="email">
							</div>
							<div class="col-12">
								<label for="message" class="form-label">Message*</label>
								<textarea class="form-control" id="message" rows="3"></textarea>
							</div>
							<div class="col-12">
								<label for="formFile" class="form-label">Upload File</label>
								<input class="form-control" type="file" id="formFile">
							</div>
							<div class="col-12 mt-4">
								<button type="submit" class="btn btn-primary">Send Message</button>
							</div>
						</form>
					</div>
					<div class="col-md-4 contact-by  py-5 px-3 shadow-sm">
						<h4>Say Hi!</h4>
						<div class="info-sec">
							<div class="email mb-5">
								<i class="fa fa-envelope"></i>
								<span>info@tactsoftltd.com</span>
							</div>
							<div class="whatsapp mb-5">
								<i class="fa fa-whatsapp"></i>
								<span>+880 1816513177</span>
							</div>
							<div class="skype mb-5">
								<i class="fa fa-skype"></i>
								<span>mdlipon</span>
							</div>
						</div>
						<div class="social-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ============Get in Touch Section End============ -->
	</div>
            <!-- Our Work Section End -->

	<!-- ============All-office Section Start============ -->
	<div class="all-office">
		<div class="col-md-12">
			<div class="row text-center">
				<p style="font-size: 18px; font-weight: bold;">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
			</div>
			<div class="row text-uppercase d-inline text-center">
				<div class="country">
					<span>usa</span>
					<span>uk</span>
					<span>canada</span>
					<span>netherland</span>
					<span>finland</span>
					<span>england</span>
					<span>australia</span>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="office-location">
				<div class="row">
			
					
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<div class="mb-2">
									<img src="~/assets/images/singapore-flag.png" class="d-inline" alt="">
									<h5 class="d-inline">SINGAPORE-Office</h5>
								</div>
								<span>Neamul karim Tipu<br/>27 Foch Road,Hoa Nam Building
                                      Lavel# 02-02 Singapore -209264</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ============All-office Section End============ -->
