@{
    ViewData["Title"] = "Web";
}            
<!-- Services Single Start -->
            <div class="rs-services-single pt-120 pb-120 md-pt-80 md-pb-80">
               <div class="container">
                    <div class="row">
                        <div class="col-lg-8 md-mb-50">
                            <div class="services-img">
                                <img src="~/assets/images/services/single/1.jpg" alt="">
                            </div>
                            <h2 class="mt-34">Responsive Pixel Perfect Design</h2>
                            <p>
                             Tactsoft Ltd. is a prodigious web application development company, build powerful and scalable web apps that are custom made using agile development processes leveraging the latest web technologies.
						 Web applications aid businesses in influencing their online presence. This in turn creates superior kinships with the customers.

						   </p>
                            <ul class="listing-style">                              
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    <span>Custom Application Development</span>
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    <span>Content Management System (CMS)</span>
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    <span>Ecommerce Development</span>
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    <span>MEAN Stack Development</span>
                                </li>                                
                            </ul>
                            <h3 class="mt-34">Our Technology Stack</h3>
							<p>Selecting the right tech stack is a real challenge but our team of professional web developers will help you choose the right tools for delivering a top-notch web application with all the functionality you need. </p> <!-- Skillbar Section Start -->
                            <div class="rs-skillbar style1 modify1">
                                <div class="cl-skill-bar">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- Start Skill Bar -->
                                            <span class="skillbar-title"><img src="~/assets/images/logo/net.jpg"/></span>
                                         
                                            <!-- Start Skill Bar -->
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Start Skill Bar -->
                                          <span class="skillbar-title"><img src="~/assets/images/logo/angular.jpg"/></span>
                                           
                                            <!-- Start Skill Bar -->
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Start Skill Bar -->
                                               <span class="skillbar-title"><img src="~/assets/images/logo/html5.jpg"/></span>
                                        
                                            <!-- Start Skill Bar -->
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Start Skill Bar -->
                                               <span class="skillbar-title"><img src="~/assets/images/logo/react.jpg"/></span>
                                          
                                            <!-- Start Skill Bar -->
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Start Skill Bar -->
                                                  <span class="skillbar-title"><img src="~/assets/images/logo/wordpress.jpg"/></span>
                                        
                                            <!-- Start Skill Bar -->
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Start Skill Bar -->
                                                <span class="skillbar-title"><img src="~/assets/images/logo/node.jpg"/></span>
                                        
                                            <!-- Start Skill Bar -->
                                        </div>
                                    </div>                                   
                               </div>
                            </div>
                            <!-- Skillbar Section End -->
                            <h3 class="mt-30">24/7 Smart Support</h3>
                            <p class="mt-20 mb-50">
                         Tactsoft Ltd is a prodigious web application development company, build powerful and scalable web apps that are custom made using agile development processes leveraging the latest web technologies.
						   </p>
                            <div class="row mb-80">
                                <div class="col-lg-6 col-md-12 md-mb-30">
                                    <img class="bdru-4" src="~/assets/images/services/single/2.jpg" alt="">
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <img class="bdru-4" src="~/assets/images/services/single/3.jpg" alt="">
                                </div>
                            </div>
                            <!-- Testimonial Section Start 
                            <div class="rs-testimonial style5">
                                <div class="testi-item">
                                    <div class="testi-img">
                                        <img src="assets/images/testimonial/main-home/quote-white2.png" alt="">
                                    </div>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias data.</p>
                                    <div class="testi-content">
                                        <div class="testi-img">
                                           <img src="assets/images/testimonial/main-home/5.jpg" alt="">
                                        </div>
                                        <div class="author-part">
                                            <div class="name">Brick John</div>
                                            <span class="designation">CEO, Brick Consulting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Section End -->
                        </div>
                        <div class="col-lg-4 pl-32 md-pl-15">
                              <ul class="services-list">
                                <li><a asp-controller="Service" asp-action="SoftwareDevlopment">Software Development</a></li>
                                <li><a class="active"  asp-controller="Service" asp-action="WebDevlopment">Web Development</a></li>
                                <li><a asp-controller="Service" asp-action="EcommersSiteDevlopment">E-Commerce Site Development</a></li>
                                <li><a asp-controller="Service" asp-action="AppDevlopment">Apps Development</a></li>
                                <li><a  asp-controller="Service" asp-action="UIorUXDesign">UX/UI Design</a></li>
                               
                            </ul>
                            <div class="services-add mb-50 mt-50">
                                <div class="address-item mb-35">
                                    <div class="address-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <h2 class="title">Have any Questions? <br> Call us Today!</h2>
                                <div class="contact">
                                    <a href="tel:123222-8888">+8801779016878</a>
                                </div>
                            </div>
                         
                        </div>
                    </div> 
               </div> 
            </div>
            <!-- Services Single End -->
