  @{
    ViewData["Title"] = "Product";
}       
  <!-- Breadcrumbs Start -->
      <div class="rs-breadcrumbs img3">
                <div class="breadcrumbs-inner text-center">
                    <h1 class="page-title">Products</h1>
                   <ul>
                        <li title="Tactsoft  - IT Solutions and Technology Startup HTML Template">
                            <a class="active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       <li>Product</li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumbs End -->
             <!-- Product Start -->
            <div class="product-content">
		<div class="row">
			<div class="heading">
				<h1><b style="color: #02AA85;">Tactsoft </b> <b>Products</b></h1>
				<span>Tactsoft Ltd have grown by targeting the global market and not just Bangladesh. We empower you with experienced development teams to innovate and build great software products</span>
			</div>
			<div class="row">
				<div class="all-product">
					<div class="col-md-12">
						<div class="row">
                            <div class="col-md-3">
                                <div class="card" style="width: 18rem;">
								<a href="#"><img src="~/assets/images/course/ecommercesite.jpeg" class="card-img-top" alt="..."></a>
								<div class="card-body">
									<h5 class="card-title"><a href="#">Tactsoft Ecommerce Site</a></h5>
									<p class="card-text">Tactsoft ecommerce site is the  popular ASP.NET shopping cart in the world based on Microsoft technologies.</p>
									<div class="row">
										<div class="credit-duration-button">					
											<a href="#" class="btn btn-success mt-5">See Details</a>
										</div>
									</div>
								</div>
							</div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" style="width: 18rem;">
								<a href="#"><img src="~/assets/images/course/inventory.jpeg" class="card-img-top" alt="..."></a>
								<div class="card-body">
									<h5 class="card-title"><a href="#">Tactsoft Inventory Management</a></h5>
									<p class="card-text">Tactsoft inventory management software designed to help small and growing businesses effortlessly manage their inventory.</p>
									<div class="row">
										<div class="credit-duration-button">											
											<a href="#" class="btn btn-success">See Details</a>
										</div>
									</div>
								</div>
							</div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" style="width: 18rem;">
								<a href="#"><img src="~/assets/images/course/leasecredit.jpeg" class="card-img-top" alt="..."></a>
								<div class="card-body">
									<h5 class="card-title"><a href="#">Tactsoft Lease and Credit Management</a></h5>
									<p class="card-text"> The solution features leased asset management, applicant management, lease origination, credit scoring automation.</p>
									<div class="row">
										<div class="credit-duration-button">											
											<a href="#" class="btn btn-success mt-4">See Details</a>
										</div>
									</div>
								</div>
							</div>
                            </div>
                            <div class="col-md-3">
                                <div class="card mb-3" style="width: 18rem;">
								<a href="#"><img src="~/assets/images/course/hrmsystem.jpeg" class="card-img-top" alt="..."></a>
								<div class="card-body">
									<h5 class="card-title"><a href="#">HRM Software</a></h5>
									<p class="card-text">Tactsoft HRM offers a  HR management system to suit all of your business HR needs which can also be customized according to your requirements. </p>
									<div class="row">
										<div class="credit-duration-button">											
											<a href="#" class="btn btn-success mt-4">See Details</a>
										</div>
									</div>
								</div>
							</div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Product Start -->